
.panel.panel-default.fadeInDown.animation-delay3
  .panel-heading
    %i.fa.fa-info-circle
    Transcript
    %span{style: "align-text:right; padding-left:100px;"}
      %select{name: "language"}
        %option{value: "one", selected: "selected"} English
        %option{value: "one"} Spanish
        %option{value: "one"} French
  .panel-body
    %li.list-group-item
      Welcome to the fourth session of Week 3.
    %li.list-group-item
      In this session we will focus on Graphical analysis in R.
    %li.list-group-item
      Have you ever wondered why people use so much of graphs? Why certain types of graphs are preferred over others? When to use what graph? You would know the answers to these in this session.
    %li.list-group-item
      During the session we will try to achieve four objectives – 
    %li.list-group-item
      Depict graphical analysis for variables in R 
    %li.list-group-item
      Implement graphical plots for multiple comparisons  
    %li.list-group-item
      Depict special graphical plots using inbuilt R functions 
    %li.list-group-item
      Implement the steps to save graphics to files using R
    %li.list-group-item
      As you may know, graphs provide many useful insights into data. Whether the data is numerical or not, graphs are a handy tool to draw inferences. Statistical computing allows one to produce high quality graphs.
    %li.list-group-item 
      Let us look at various types of plots drawn in R.  
