=render 'layouts/navigation'
=render 'layouts/sidebar'
#main-container
  =render 'layouts/breadcrumb'
  .padding-md
    .row
      .col-sm-7
        .panel.panel-default.fadeInDown.animation-delay3
          .panel-heading
            %i.fa.fa-play-circle
            Video on Graphical Analysis in R
          .panel-body
            %iframe#player_1{frameborder: "0", height: "450", src: "http://player.vimeo.com/video/89080867?api=1&player_id=player_1&html5=1", width: "610"}       
      .col-sm-5#intervention
      .col-sm-5#transcript
        = render 'transcript'
      
= javascript_include_tag 'api/froogaloop.min'
= javascript_include_tag 'player'

:css
  .modal-fade.modal-dialog {
    width: 80%; /* or whatever you wish */
  }
  .player_active{
    color: #626262;
  }

:javascript
  $("documaent").ready(function(){
    $("#flash-object").hide();
  });

  function validate_one(){
    answer = $('input[type="radio"]:checked').val();
    if( typeof answer == "undefined" ){$("#optionsRadios1").focus(); return false;}
    if(answer == "1_2"){
      msg = "<strong>Well done!</strong> You successfully read this important alert message.";
      html = '<div class="alert alert-success">'+msg+'</div>';
    }else{
      msg = "<strong>Well done!</strong> You successfully read this important alert message.";
      html = '<div class="alert alert-danger">'+msg+'</div>';
    } 

    $("#result").html(html);
  }
  