
.panel.panel-default.fadeInDown.animation-delay3
  .panel-heading
    %i.fa.shortcut-icon
    Lab
  .panel-body
    %iframe{allowfullscreen: "allowfullscreen", frameborder: "0", height: "300", width: "100%", src: "http://www.r-fiddle.org/#/embed?id=I5ErtPdo"}

