
.panel.panel-default.fadeInDown.animation-delay3
  .panel-heading
    %i.fa.fa-archive
    Technical Stuff
  .panel-body
    %blockquote
      %p
        %strong
          Bar chart vs Histogram
      %p 
        A common mistake among beginners is to confuse histograms and bar charts. Histograms have the response variable on the x axis, and the y axis shows the frequency of different values of the response. In contrast, a bar chart has the response variable on the y axis and a categorical explanatory variable on the x axis.    