= javascript_include_tag 'dashboard', 'data-turbolinks-track' => true   
=render 'layouts/navigation'
=render 'layouts/sidebar'
#main-container

  .main-header.clearfix
    .page-title
      %h3.no-margin Dashboard
      %span Welcome back, John!
    / /page-title
    / /page-stats
  / /main-header
  .padding-md
    .row
      .col-lg-8
        .panel.panel-default
          .panel-heading
            Course Progress
            %span.badge.badge-info.pull-right
              4 left
          %table.table.table-striped
            %thead
              %tr
                %th Module
                %th Progress
                %th
                %th Time Spent
            %tbody
              %tr
                %td Introduction to Big Data
                %td
                  .progress.progress-striped.active{style: "height:8px; margin:5px 0 0 0;"}
                    .progress-bar{style: "width: 45%"}
                      %span.sr-only 45% Complete
                %td 45%
                %td
                  %span.badge.badge-info 20 hrs
              %tr
                %td Understanding Analytics
                %td
                  .progress.progress-striped.active{style: "height:8px; margin:5px 0 0 0;"}
                    .progress-bar.progress-bar-success{style: "width: 61%"}
                      %span.sr-only 61% Complete
                %td 61%
                %td
                  %span.badge.badge-info 15 hrs
              %tr
                %td Functions and Packages
                %td
                  .progress.progress-striped.active{style: "height:8px; margin:5px 0 0 0;"}
                    .progress-bar.progress-bar-danger{style: "width: 97%"}
                      %span.sr-only 97% Complete
                %td 97%
                %td
                  %span.badge.badge-info 5hrs
              %tr
                %td Regression
                %td
                  .progress.progress-striped.active{style: "height:8px; margin:5px 0 0 0;"}
                    .progress-bar.progress-bar-warning{style: "width: 18%"}
                      %span.sr-only 18% Complete
                %td 18%
                %td
                  %span.badge.badge-info 2hrs
              %tr
                %td Decision Trees
                %td
                  .progress.progress-striped.active{style: "height:8px; margin:5px 0 0 0;"}
                    .progress-bar.progress-bar-warning{style: "width: 18%"}
                      %span.sr-only 18% Complete
                %td 18%
                %td
                  %span.badge.badge-info 12hrs
              %tr
                %td Introduction to Hadoop
                %td
                  .progress.progress-striped.active{style: "height:8px; margin:5px 0 0 0;"}
                    .progress-bar.progress-bar-warning{style: "width: 28%"}
                      %span.sr-only 18% Complete
                %td 18%
                %td
                  %span.badge.badge-info 12hrs
              %tr
                %td Integrating R with Hadoop
                %td
                  .progress.progress-striped.active{style: "height:8px; margin:5px 0 0 0;"}
                    .progress-bar.progress-bar-warning{style: "width: 17%"}
                      %span.sr-only 18% Complete
                %td 18%
                %td
                  %span.badge.badge-info 1hrs
                  
              %tr
                %td R versus Excel
                %td
                  .progress.progress-striped.active{style: "height:8px; margin:5px 0 0 0;"}
                    .progress-bar.progress-bar-warning{style: "width: 8%"}
                      %span.sr-only 18% Complete
                %td 18%
                %td
                  %span.badge.badge-info 6hrs        
        / /panel
        
      .col-lg-4
        .panel.bg-danger
          .panel-body
            %h4 Ready for Certification
            .progress.progress-striped.active{style: "height:8px; margin:5px 0 0 0;"}
              .progress-bar.progress-bar-danger{style: "width: 65%"}
                %span.sr-only 65% Complete
            %strong.pull-left.m-top-xs 65% Complete
            %strong.pull-right.m-top-xs 1hr left
        / /panel
        .panel.panel-default
          .panel-heading
            Feeds
            %ul.tool-bar
              %li
                %a.refresh-widget{"data-original-title" => "Refresh", "data-placement" => "bottom", "data-toggle" => "tooltip", href: "#", title: ""}
                  %i.fa.fa-refresh
              %li
                %a{"data-toggle" => "collapse", href: "#feedList"}
                  %i.fa.fa-arrows-v
          %ul#feedList.list-group.collapse.in
            %li.list-group-item.clearfix
              .activity-icon.small
                %i.fa.fa-camera
              .pull-left.m-left-sm
                %span Added a new photo.
                %br/
                %small.text-muted
                  %i.fa.fa-clock-o
                  2m ago
            %li.list-group-item.clearfix
              .activity-icon.bg-success.small
                %i.fa.fa-question
              .pull-left.m-left-sm
                %span Answered a question.
                %br/
                %small.text-muted
                  %i.fa.fa-clock-o
                  30m ago
            %li.list-group-item.clearfix
              .activity-icon.bg-info.small
                %i.fa.fa-comment
              .pull-left.m-left-sm
                %span
                  Commented on
                  %a{href: "#"} This Video.
                %br/
                %small.text-muted
                  %i.fa.fa-clock-o
                  1hr ago
            %li.list-group-item.clearfix
              .activity-icon.bg-success.small
                %i.fa.fa-play
              .pull-left.m-left-sm
                %span 3 videos watched.
                %br/
                %small.text-muted
                  %i.fa.fa-clock-o
                  2days ago
            %li.list-group-item.clearfix
              .activity-icon.bg-success.small
                %i.fa.fa-play
              .pull-left.m-left-sm
                %span 5 videos watched.
                %br/
                %small.text-muted
                  %i.fa.fa-clock-o
                  2days ago
          / /list-group
          .loading-overlay
            %i.loading-icon.fa.fa-refresh.fa-spin.fa-lg







        / /panel

      / .col-lg-5
      /   %a.btn.btn-success.block Block Button  
      / /.col
    / /.row
      

   
  / /.padding-md