=render 'layouts/navigation'
=render 'layouts/sidebar'
#main-container
  =render 'layouts/breadcrumb'
  .padding-md
    .row
      %iframe{allowfullscreen: "allowfullscreen", frameborder: "0", height: "300", src: "http://www.r-fiddle.org/#/embed?id=Ml9RHz0T", width: "100%"}