#breadcrumb
  %ul.breadcrumb
    %li
      %i.fa.fa-home
      %a{href: "index.html"} Home
    %li.active Dashboard
/ /breadcrumb
.grey-container.shortcut-wrapper
  %a.shortcut-link#statistic{href: "#"}
    %span.shortcut-icon
      %i.fa.fa-bar-chart-o
    %span.text Statistic
  %a.shortcut-link{href: "#"}
    %span.shortcut-icon
      %i.fa.fa-envelope-o
      %span.shortcut-alert
        5
    %span.text Messages
  %a.shortcut-link{href: "#"}
    %span.shortcut-icon
      %i.fa.fa-user
    %span.text New Users
  %a.shortcut-link{href: "#"}
    %span.shortcut-icon
      %i.fa.fa-globe
      %span.shortcut-alert
        7
    %span.text Notification
  %a.shortcut-link{href: "#"}
    %span.shortcut-icon
      %i.fa.fa-list
    %span.text Activity
  %a.shortcut-link{href: "#"}
    %span.shortcut-icon
      %i.fa.fa-cog
    %span.text Setting
/ /grey-container