#breadcrumb
  %ul.breadcrumb
    %li
      %i.fa.fa-home
      %a{href: "/landing"} Dashboard
    %li.active Module 1
    %li.active Video on Graphical Analysis in R 
/ /breadcrumb
.grey-container.shortcut-wrapper
  %a.shortcut-link.inter_one
    %span.shortcut-icon
      %i.fa.fa-info-circle
    %span.text Infograph
  %a.shortcut-link.inter_two
    %span.shortcut-icon
      %i.fa.fa-archive
    %span.text Technical Stuff
  %a.shortcut-link.inter_three
    %span.shortcut-icon
      %i.fa.fa-question-circle
    %span.text Quiz
  %a.shortcut-link.inter_four
    %span.shortcut-icon
      %i.fa.fa-rocket
    %span.text Lab
  
/ /grey-container